.vip_box_heading{
    border-bottom: 1px white;
    border-style:solid;
}
.vip_box_heading h1{
    font-weight: 600;
}
.vip_box_content img{
    max-height:200px;
    width:100%;
}
.popup-image{
    max-height:200px;
}
.product{
    border-bottom: 1px gray;
    border-style: solid;
}
.vip-box{
    background-color:rgba(47,183,235,255)!important;
    border-radius: 20px;
}
.bg-gray-100{
    background-color:rgba(47,183,235,255)!important;
}
.blue-text{
    color:rgba(47,183,235,255)!important;
}
.vip_box_content img{
    border-radius: 20px;

}